html, body {
    margin:0;
    padding:0;
    height:100%;
  }
  
  #pagina {
    position: relative;
    min-height: 100%;
  }
  
  #contenido {
    padding-bottom:50px;}
  
  #pie {
    height:50px;
    line-height:50px;
    background:rgb(9, 55, 92);
    color:white;
    text-align:left;
    position: fixed;
    bottom:0;
    left:0;
    width:100%;
  }
  
  