ol {
    width: 150px;
}
#diario {
    background-color: blue;
    border: 2px solid;
    margin-bottom: 7px;
    padding: 5px;
    text-align: center;
    color: white;
}
#diario:hover {
    border-color: red;
}
#finde {
    background-color: green;
    border: 2px solid;
    margin-bottom: 7px;
    padding: 5px;
    text-align: center;
    color: white;
}
#finde:hover {
    background-color: grey;
    color: black;
    border-color: red;
}